<div><strong></strong></div>
<h1 style="text-align: center;"><span style="font-size: 14pt;"><strong><span style="font-size: 16pt;">Bonjour {{inter}},</span>&nbsp;</strong></span></h1>
<div style="text-align: center;"><span style="font-size: 14pt;"><strong></strong></span></div>
<div style="text-align: center;"><span style="font-size: 14pt;"><strong><em></em></strong><em></em>Vous avez re&ccedil;u un message de {{lycee}}  &szlig;.</span></div>
<div style="text-align: center;"><br /><span style="font-size: 14pt;"><strong><br />Voici son message :&nbsp;</strong><br /><br /></span></div>
<div style="text-align: center;"><span style="font-size: 14pt;"><span style="font-size: 12pt;"><em>{{message}}</em></span>&nbsp;</span></div>
<div style="text-align: center;"></div>
<div style="text-align: center;"></div>
<div style="text-align: center;"><span style="font-size: 14pt;"></span></div>
<div style="text-align: center;"><span style="font-size: 14pt;"></span></div>
<div style="text-align: center;"><span style="font-size: 14pt;"></span></div>
<div style="text-align: center;"><span style="font-size: 14pt;"></span></div>
<div style="text-align: center;"><span style="font-size: 14pt;"><strong>Vous pouvez &eacute;changer avec Isabelle &agrave; l'adresse suivante :</strong>&nbsp;<a href="mailto:"+{{envoyeur}}>{{envoyeur}}</a><a href="mailto:"+{{envoyeur}}></a></span></div>
<div style="text-align: center;"></div>
<div style="text-align: center;"></div>
<div style="text-align: center;"><span style="font-size: 14pt;"><strong><span style="color: #ff9900;">Toute l'&eacute;quipe de <span style="font-family: arial, helvetica, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: #ffffff; float: none; display: inline !important; font-size: 16pt;">&szlig;</span></span></strong></span><strong><span style="color: #ff9900;">rorientation vous remercie.</span></strong>&nbsp;</div>
<div style="text-align: center;"><span style="font-size: 14pt;"></span></div>
<div style="text-align: center;"><span style="font-size: 14pt;">Bonne journ&eacute;e,&nbsp;</span></div>
<div style="text-align: center;"><span style="font-size: 14pt;"></span></div>
<div style="text-align: center;"><span style="font-size: 14pt;"></span></div>
<div></div>
<div data-marker="__SIG_POST__"></div>
